In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
raw_data = pd.read_csv('drive/My Drive/crop-recommendation/apy.csv')

The data refers to district wise, crop wise, season wise and year wise data on crop covered area (Hectare) and production (Tonnes). The data is being used to study and analyse crop production, production contribution to district/State/country, Agro-climatic zone wise performance, and high yield production order for crops, crop growing pattern and diversification. The system is also a vital source for formulating crop related schemes and assessing their impacts.

In [ ]:
print(raw_data)

                         State_Name District_Name  ...      Area Production
0       Andaman and Nicobar Islands      NICOBARS  ...    1254.0     2000.0
1       Andaman and Nicobar Islands      NICOBARS  ...       2.0        1.0
2       Andaman and Nicobar Islands      NICOBARS  ...     102.0      321.0
3       Andaman and Nicobar Islands      NICOBARS  ...     176.0      641.0
4       Andaman and Nicobar Islands      NICOBARS  ...     720.0      165.0
...                             ...           ...  ...       ...        ...
246086                  West Bengal       PURULIA  ...     306.0      801.0
246087                  West Bengal       PURULIA  ...     627.0      463.0
246088                  West Bengal       PURULIA  ...     324.0    16250.0
246089                  West Bengal       PURULIA  ...  279151.0   597899.0
246090                  West Bengal       PURULIA  ...     175.0       88.0

[246091 rows x 7 columns]

In [ ]:
raw_data.head(30)

                     State_Name District_Name  ...     Area   Production
0   Andaman and Nicobar Islands      NICOBARS  ...   1254.0      2000.00
1   Andaman and Nicobar Islands      NICOBARS  ...      2.0         1.00
2   Andaman and Nicobar Islands      NICOBARS  ...    102.0       321.00
3   Andaman and Nicobar Islands      NICOBARS  ...    176.0       641.00
4   Andaman and Nicobar Islands      NICOBARS  ...    720.0       165.00
5   Andaman and Nicobar Islands      NICOBARS  ...  18168.0  65100000.00
6   Andaman and Nicobar Islands      NICOBARS  ...     36.0       100.00
7   Andaman and Nicobar Islands      NICOBARS  ...      1.0         2.00
8   Andaman and Nicobar Islands      NICOBARS  ...      5.0        15.00
9   Andaman and Nicobar Islands      NICOBARS  ...     40.0       169.00
10  Andaman and Nicobar Islands      NICOBARS  ...   1254.0      2061.00
11  Andaman and Nicobar Islands      NICOBARS  ...      2.0         1.00
12  Andaman and Nicobar Islands      NICOBARS  ...     83.0       300.00
13  Andaman and Nicobar Islands      NICOBARS  ...    719.0       192.00
14  Andaman and Nicobar Islands      NICOBARS  ...  18190.0  64430000.00
15  Andaman and Nicobar Islands      NICOBARS  ...     46.0       100.00
16  Andaman and Nicobar Islands      NICOBARS  ...      1.0         1.00
17  Andaman and Nicobar Islands      NICOBARS  ...     11.0        33.00
18  Andaman and Nicobar Islands      NICOBARS  ...    189.2       510.84
19  Andaman and Nicobar Islands      NICOBARS  ...   1258.0      2083.00
20  Andaman and Nicobar Islands      NICOBARS  ...    213.0      1278.00
21  Andaman and Nicobar Islands      NICOBARS  ...     63.0        13.50
22  Andaman and Nicobar Islands      NICOBARS  ...    719.0       208.00
23  Andaman and Nicobar Islands      NICOBARS  ...  18240.0  67490000.00
24  Andaman and Nicobar Islands      NICOBARS  ...    413.0        28.80
25  Andaman and Nicobar Islands      NICOBARS  ...     47.3       133.00
26  Andaman and Nicobar Islands      NICOBARS  ...      5.0        40.00
27  Andaman and Nicobar Islands      NICOBARS  ...     52.0        90.17
28  Andaman and Nicobar Islands      NICOBARS  ...   1261.0      1525.00
29  Andaman and Nicobar Islands      NICOBARS  ...    266.0      1763.00

[30 rows x 7 columns]

In [ ]:
raw_data['State_Name'] = raw_data['State_Name'].map(lambda State_Name: State_Name.upper())

In [ ]:
raw_data.head()

                    State_Name District_Name  ...    Area Production
0  ANDAMAN AND NICOBAR ISLANDS      NICOBARS  ...  1254.0     2000.0
1  ANDAMAN AND NICOBAR ISLANDS      NICOBARS  ...     2.0        1.0
2  ANDAMAN AND NICOBAR ISLANDS      NICOBARS  ...   102.0      321.0
3  ANDAMAN AND NICOBAR ISLANDS      NICOBARS  ...   176.0      641.0
4  ANDAMAN AND NICOBAR ISLANDS      NICOBARS  ...   720.0      165.0

[5 rows x 7 columns]

The data refers to details on climatological normals of district wise rainfall (in mm) calculated with the data for the period 1951-2000.

In [ ]:
rainfall_data = pd.read_csv('drive/My Drive/crop-recommendation/rainfall.csv')

In [ ]:
rainfall_data.head(10)

                 STATE_UT_NAME       DISTRICT    JAN  ...  Mar-May  Jun-Sep  Oct-Dec
0  ANDAMAN And NICOBAR ISLANDS        NICOBAR  107.3  ...    540.7   1207.2    892.1
1  ANDAMAN And NICOBAR ISLANDS  SOUTH ANDAMAN   43.7  ...    483.5   1757.2    705.3
2  ANDAMAN And NICOBAR ISLANDS  N & M ANDAMAN   32.7  ...    405.6   1884.4    574.7
3            ARUNACHAL PRADESH          LOHIT   42.2  ...    841.3   1848.5    231.0
4            ARUNACHAL PRADESH     EAST SIANG   33.3  ...    645.4   3008.4    268.1
5            ARUNACHAL PRADESH  SUBANSIRI F.D   28.0  ...    327.3    788.4    108.4
6            ARUNACHAL PRADESH          TIRAP   42.2  ...    786.6   2385.5    284.5
7            ARUNACHAL PRADESH  ANJAW (LOHIT)   42.2  ...    841.3   1848.5    231.0
8            ARUNACHAL PRADESH   LOWER DIBANG   83.7  ...    955.1   1073.4    287.2
9            ARUNACHAL PRADESH      CHANGLANG   70.3  ...   1256.5   1632.1    414.1

[10 rows x 19 columns]

In [ ]:
rainfall_data.rename(columns={'ANNUAL':'Whole Year'})

                   STATE_UT_NAME        DISTRICT  ...  Jun-Sep  Oct-Dec
0    ANDAMAN And NICOBAR ISLANDS         NICOBAR  ...   1207.2    892.1
1    ANDAMAN And NICOBAR ISLANDS   SOUTH ANDAMAN  ...   1757.2    705.3
2    ANDAMAN And NICOBAR ISLANDS   N & M ANDAMAN  ...   1884.4    574.7
3              ARUNACHAL PRADESH           LOHIT  ...   1848.5    231.0
4              ARUNACHAL PRADESH      EAST SIANG  ...   3008.4    268.1
..                           ...             ...  ...      ...      ...
636                       KERALA          IDUKKI  ...   2276.2    564.2
637                       KERALA        KASARGOD  ...   3007.5    337.9
638                       KERALA  PATHANAMTHITTA  ...   1715.7    624.2
639                       KERALA         WAYANAD  ...   2632.1    332.5
640                  LAKSHADWEEP     LAKSHADWEEP  ...    998.5    333.6

[641 rows x 19 columns]

In [ ]:
rainfall_data['Kharif']=rainfall_data.iloc[:,7:12].mean(axis=1)

In [ ]:
rainfall_data.head(10)

                 STATE_UT_NAME       DISTRICT    JAN  ...  Jun-Sep  Oct-Dec  Kharif
0  ANDAMAN And NICOBAR ISLANDS        NICOBAR  107.3  ...   1207.2    892.1  306.64
1  ANDAMAN And NICOBAR ISLANDS  SOUTH ANDAMAN   43.7  ...   1757.2    705.3  411.68
2  ANDAMAN And NICOBAR ISLANDS  N & M ANDAMAN   32.7  ...   1884.4    574.7  432.10
3            ARUNACHAL PRADESH          LOHIT   42.2  ...   1848.5    231.0  403.12
4            ARUNACHAL PRADESH     EAST SIANG   33.3  ...   3008.4    268.1  643.06
5            ARUNACHAL PRADESH  SUBANSIRI F.D   28.0  ...    788.4    108.4  172.86
6            ARUNACHAL PRADESH          TIRAP   42.2  ...   2385.5    284.5  520.84
7            ARUNACHAL PRADESH  ANJAW (LOHIT)   42.2  ...   1848.5    231.0  403.12
8            ARUNACHAL PRADESH   LOWER DIBANG   83.7  ...   1073.4    287.2  248.12
9            ARUNACHAL PRADESH      CHANGLANG   70.3  ...   1632.1    414.1  381.42

[10 rows x 20 columns]

In [ ]:
rainfall_data['Summer']=rainfall_data.iloc[:,4:8].mean(axis=1)

In [ ]:
rainfall_data['jan-mar']=rainfall_data.iloc[:,2:4].mean(axis=1)

In [ ]:
rainfall_data['oct-dec']=rainfall_data.iloc[:,11:13].mean(axis=1)

In [ ]:
rainfall_data.head()

                 STATE_UT_NAME       DISTRICT    JAN  ...   Summer  jan-mar  oct-dec
0  ANDAMAN And NICOBAR ISLANDS        NICOBAR  107.3  ...  209.050    82.60   320.60
1  ANDAMAN And NICOBAR ISLANDS  SOUTH ANDAMAN   43.7  ...  235.175    34.85   288.50
2  ANDAMAN And NICOBAR ISLANDS  N & M ANDAMAN   32.7  ...  227.225    24.30   237.35
3            ARUNACHAL PRADESH          LOHIT   42.2  ...  322.075    61.50   100.60
4            ARUNACHAL PRADESH     EAST SIANG   33.3  ...  345.925    56.40   118.20

[5 rows x 23 columns]

In [ ]:
rainfall_data['Rabi']=rainfall_data.iloc[:,-2:].mean(axis=1)

In [ ]:
rainfall_data.head()

                 STATE_UT_NAME       DISTRICT    JAN  ...  jan-mar  oct-dec     Rabi
0  ANDAMAN And NICOBAR ISLANDS        NICOBAR  107.3  ...    82.60   320.60  201.600
1  ANDAMAN And NICOBAR ISLANDS  SOUTH ANDAMAN   43.7  ...    34.85   288.50  161.675
2  ANDAMAN And NICOBAR ISLANDS  N & M ANDAMAN   32.7  ...    24.30   237.35  130.825
3            ARUNACHAL PRADESH          LOHIT   42.2  ...    61.50   100.60   81.050
4            ARUNACHAL PRADESH     EAST SIANG   33.3  ...    56.40   118.20   87.300

[5 rows x 24 columns]

In [ ]:
rainfall_data.drop(columns=['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC','Jan-Feb','Mar-May','Jun-Sep','Oct-Dec','jan-mar','oct-dec'],inplace=True)

In [ ]:
rainfall_data.head(-10)

In [ ]:
rainfall_data.rename(columns={'ANNUAL':'Whole Year','STATE_UT_NAME':'State_Name','DISTRICT':'District_Name'})

                      State_Name   District_Name  ...   Summer     Rabi
0    ANDAMAN And NICOBAR ISLANDS         NICOBAR  ...  209.050  201.600
1    ANDAMAN And NICOBAR ISLANDS   SOUTH ANDAMAN  ...  235.175  161.675
2    ANDAMAN And NICOBAR ISLANDS   N & M ANDAMAN  ...  227.225  130.825
3              ARUNACHAL PRADESH           LOHIT  ...  322.075   81.050
4              ARUNACHAL PRADESH      EAST SIANG  ...  345.925   87.300
..                           ...             ...  ...      ...      ...
636                       KERALA          IDUKKI  ...  269.550  137.900
637                       KERALA        KASARGOD  ...  318.125   80.700
638                       KERALA  PATHANAMTHITTA  ...  277.600  159.475
639                       KERALA         WAYANAD  ...  243.375   79.950
640                  LAKSHADWEEP     LAKSHADWEEP  ...  140.650   77.575

[641 rows x 6 columns]

In [ ]:
raw_data

                         State_Name District_Name  ...      Area Production
0       ANDAMAN AND NICOBAR ISLANDS      NICOBARS  ...    1254.0     2000.0
1       ANDAMAN AND NICOBAR ISLANDS      NICOBARS  ...       2.0        1.0
2       ANDAMAN AND NICOBAR ISLANDS      NICOBARS  ...     102.0      321.0
3       ANDAMAN AND NICOBAR ISLANDS      NICOBARS  ...     176.0      641.0
4       ANDAMAN AND NICOBAR ISLANDS      NICOBARS  ...     720.0      165.0
...                             ...           ...  ...       ...        ...
246086                  WEST BENGAL       PURULIA  ...     306.0      801.0
246087                  WEST BENGAL       PURULIA  ...     627.0      463.0
246088                  WEST BENGAL       PURULIA  ...     324.0    16250.0
246089                  WEST BENGAL       PURULIA  ...  279151.0   597899.0
246090                  WEST BENGAL       PURULIA  ...     175.0       88.0

[246091 rows x 7 columns]

In [ ]:
data = pd.merge(raw_data,rainfall_data,on=['District_Name','State_Name'])

KeyError: ignored

In [ ]:
groundwater_data = pd.read_csv('drive/My Drive/crop-recommendation/groundwater.csv')

In [ ]:
groundwater_data.head()

   S.no.  ... Stage of Ground Water Extraction (%)
0      1  ...                                88.96
1      2  ...                                58.92
2      3  ...                                21.17
3      4  ...                                38.57
4      5  ...                                68.68

[5 rows x 16 columns]